<div class="">
  <app-stepper-header [activeStep]="activeStep"></app-stepper-header>
</div>

<div class="stepper-body mt-5">
  <div class="stepper-body-main my-3">

    <ng-container *ngIf="activeStep === 0">
      <app-basic-info-step [basicInfoForm]="getFormGroup('basicInfo')"></app-basic-info-step>
    </ng-container>

    <ng-container *ngIf="activeStep === 1">
      step 2
    </ng-container>

    <ng-container *ngIf="activeStep === 2">
      step 3
    </ng-container>

    <ng-container *ngIf="activeStep === 3">
      step 4
    </ng-container>
  </div>

  <div class="stepper-body-buttons">
    <button
      *ngIf="activeStep"
      (click)="changeStep(-1)"
      class="border-gray-300 border text-gray-700 font-normal py-2 px-4 rounded">
      Previous
    </button>

    <button
      *ngIf="activeStep !== steps - 1"
      (click)="changeStep(1)"
      class="border border-indigo-600 bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded">
      Next
    </button>
  </div>
</div>
